body{
/*background-color:#300A24;*/
background-color:#002B36;
color:#FFFFFF;
/*font-family: 'Rubik', sans-serif;*/
font-family: 'Consolas', Monaco, monospace;
/*Centaur*/
/*font-family: 'Garamond', Monaco, monospace;*/
      /*font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
/*font-size: calc(10px + 0.33vw);*/
      /*-webkit-font-smoothing: antialiased;*/
padding: 5vh 10vw;
      /*color: #123134;*/
font-size:20px;
}
/*a{*/
/*background-color:#00FFFF;*/
/*color:#00FFFF;*/
/*list-style-type:none;*/
/*}*/

.center{
text-align:center;
}

body warning{
color:#9B7DA5;
font-size:20px;
}
body error{
color:#FF0000;
font-size:20px;
}
body ok {
color:#00FF00;
font-size:20px;
}
body info{
color:#2EC7C7;
font-size:20px;
}
body a{
color:#FFFFFF;
/*color:#00FFFF;*/
/*font-size:20px;*/
}
.log{
color:grey;
opacity:0.25;
font-size:12pt;
}
.project{
padding-left:60px; text-indent:-22px;
}

